<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns.ths="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>

<body>
<form th:action="@{'/register'}" th:object="${userDTO}" method="post" enctype="multipart/form-data">
        <label>
            <input  name="username" th:field="*{user_name}" placeholder="enter user name">
        </label>

        <label>
            <input name="password" id="password" th:field="*{password}" placeholder="password">
        </label>
        <label>
            <input  name="fullName"  th:field="*{fullName}" placeholder="enter full name">
        </label>
        <label>
            <input type="file" name="profilePicture" th:field="*{profilePicture}" placeholder="enter image Path">
        </label>
    <button> Register</button>
</form>

</body>
</html>